.logo {
  @extend %reset-link;
  @include fonts(26px, 31px, 700);
   margin-right: 93px;
 
   font-family: var(--secondary-font);
   color: var(--additional-txt-cl);
 }
 .logo__span {
   color: var(--black-txt-cl);
 }